.not-found-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    place-items: center;
    text-align: center;
    color: #333;
}

.not-found-container h1 {
    font-size: 3rem;
    color: #002FBD;
    margin-bottom: 1rem;
]}

.not-found-container p {
    font-size: 1.25rem;
    margin-bottom: 2rem;
}