.not-found-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    color: #333;
    margin-left: -12rem;
}

.not-found-container h1 {
    font-size: 3rem;
    color: #002FBD;
    margin-bottom: 1rem;
    /* margin-left: -12rem; */
}

.not-found-container p {
    font-size: 1.25rem;
    margin-bottom: 2rem;
}

.home-button {
    padding: 0.75rem 1.5rem;
    background-color: #fd6e0f;
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.home-button:hover {
    background-color: #ffa14a;
}